---
layout: splash
permalink: /
title: "Data Science Consulting"
excerpt: "Power your business with machine learning &#38; data technologies"
header:
  overlay_image: /images/landing/bg.jpg
  overlay_filter: rgba(139, 134, 163, 0.7)
  cta_label: "Learn More"
  cta_url: /consulting/
intro: 
  - title: 'We provide data science and machine learning solutions to the following industries.'
feature_row:
  - image_path: /images/landing/fintech.jpeg
    title: "Fintech"
    excerpt: ""
    url: /fintech/
    btn_label: "Browse Projects"
    btn_class: "btn--primary"
  - image_path: /images/landing/trading.jpeg
    title: "Trading"
    excerpt: ""
    url: /trading/
    btn_label: "Browse Projects"
    btn_class: "btn--primary"    
  - image_path: /images/landing/real-estate.jpeg
    title: "Real Estate"
    excerpt: ""
    url: /real_estate/
    btn_label: "Browse Projects"
    btn_class: "btn--primary"
  - image_path: /images/landing/medicine-biotech.jpeg
    title: "Medicine & Biotech"
    excerpt: ''
    url: /medicine_biotech/
    btn_label: "Browse Projects"
    btn_class: "btn--primary"
  - image_path: /images/landing/marketing-advertising.jpeg
    title: "Marketing & Advertising"
    excerpt: ''
    url: /marketing_advertising/
    btn_label: "Browse Projects"
    btn_class: "btn--primary"
  - image_path: /images/landing/hr.jpeg
    title: "HR & Operations"
    excerpt: ''
    url: /hr_operations/
    btn_label: "Browse Projects"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

