<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/contact">Contact Us @ Cabaceo LLC</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved. </br> 
        Background Photograph Created by Dima Bushkov under the <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons License</a></p>
      </div>
    </div>
  </div>
</footer>
